Checks: >
  -*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-pro-type-union-access,
  -*-math-missing-parentheses,
  -cppcoreguidelines-pro-type-vararg,
  -readability-function-cognitive-complexity

WarningsAsErrors: ""

HeaderFilterRegex: "src/.*"

FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.ConstantParameterCase, value: lower_case }
  - {
    key: readability-identifier-naming.LocalConstantCase,
    value: lower_case,
  }
  - { key: readability-identifier-naming.FunctionCase, value: CamelCase }
  - { key: readability-identifier-naming.ConstantCase, value: UPPER_CASE }
  - {
    key: readability-identifier-length.IgnoredLoopCounterNames,
    value: "i|j|k|x|y|z",
  }
  - {
    key: readability-identifier-length.IgnoredParameterNames,
    value: "a|b|g|h|q|r|s|t|u|v|w|x|y|z|id",
  }
  - {
    key: readability-identifier-length.IgnoredVariableNames,
    value: "a|b|g|h|q|r|s|t|u|v|w|x|y|z|id",
  }
